# Version control
.git
.gitignore

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# Docs and init scripts

# OS / Editor files
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/

# Test/cache/build files
tmp/
*.log
*.out
*.test
vendor/
